.App-header-bot {
    height: 40px;
    display: block;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    vertical-align: middle;
    margin-bottom: 15px;
}
.Nav-container {
    margin-right: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    vertical-align: middle;
}
.Nav-list {
    flex-wrap: nowrap;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Nav-el{
    margin-left: 75px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.Nav-list::-webkit-scrollbar {
    display: none;
}

.PosImg {
    height: 120px;
    max-width: 120px;
}
.IndivPos {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.IndivPosData {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 20px;
}
.IndivPosDataTop{
    display: block;
}
.IndivPosDataBot{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.PriceText{
    margin-bottom: 5px;
}
.AddIcon{
    height: 25px;
    max-width: 25px;
}
.BodyText{
    font-size: 12px;
}
.PosByCat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.Positions {
    margin-left: 75px;
    margin-right: 75px;
}
.NavBarLg {
    padding-left: 75px;
    padding-right: 75px;
}

.btn {box-shadow:none !important;
    outline: none !important;}
.btn-close {
    box-shadow:none !important;
    outline: none !important;
}
@media (max-width: 991px) {
    .PosByCat {
        grid-template-columns: repeat(2, 1fr);
    }
    .Nav-el {
        margin-left: 50px;
    }
    .Positions {
        margin-left: 50px;
        margin-right: 50px;
    }
    .NavBarLg {
        padding-left: 50px;
        padding-right: 50px;
    }
    .Nav-container {
        margin-right: 50px;
    }
}
@media (max-width: 450px) {
    .PosByCat {
        grid-template-columns: repeat(1, 1fr);
    }
    .Nav-el {
        margin-left: 20px;
    }
    .Positions {
        margin-left: 20px;
        margin-right: 20px;
    }
    .NavBarLg {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Nav-container {
        margin-right: 20px;
    }
}
